@font-face {
  font-family: Montserrat;
  src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat Light;
  src: url(Fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url(Fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat Bold;
  src: url(Fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat Medium;
  src: url(Fonts/Montserrat/Montserrat-Medium.ttf);
}

#choosef{
	width: 50%; height: 90%; background: rgba(0, 0, 0, 0); position: absolute; top: 20%; left: 25%; z-index: 10;
}
#pf, #pdf, #lpf{
	width: 30vw; height: 90vh; padding: 0px; margin: 0px; margin-left: 35vw; margin-top: 5vh; box-shadow: 0px 0px 5px rgb(171, 105, 231, 120); border: 1.5px solid rgb(171, 95, 221); background: white; display: none;
}
#gfgFrame, #gfgFrame1{
	border: 0px;
}

#content{
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: white;
	background-size: cover;
	width: 100vw; height:100vh;
	padding: 0px;
	margin: 0px;
	z-index: 13;
	background-image: linear-gradient(90deg, rgb(171, 105, 231) 0%, rgb(44, 20, 138) 35%, rgb(255, 105, 90) 100%);
	overflow:  hidden;
}
#head{
	font-family: Montserrat Bold;
	font-size: 230%;
	color: rgb(15, 15, 15);
	text-align: center;
	margin: 0px;
	position: relative;
	top:  30%;
}
#sub_head, #sub_head1, #sub_head2{
	font-family: Montserrat SemiBold;
	font-size: 100%;
	color: rgb(15, 15, 15);
	text-align: center;
	margin:  0px;
}

#url{
	width: 65%;
	height: 16%;
	margin-left: 7.5%;
	background-color: white;
	border:  0px solid white;
	border-radius:100px 100px;
	font-family: Montserrat;
	font-size: 2.3vh;
}

#btn{
	width: 50%;
	height:  60%;
	background-color: white;
	color: rgb(70, 190, 100);
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 2px solid rgb(70, 190, 100);
	position: relative;
	left: 25%;
}
#btn:hover{
	width: 50%;
	height:  60%;
	background-color: rgb(70, 190, 100);
	color: white;
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 0px solid white;
	position: relative;
	left: 25%;
}
#btn1{
	width: 50%;
	height:  60%;
	background-color: white;
	color: rgb(70, 190, 100);
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 2px solid rgb(70, 190, 100);
	position: relative;
	left: 25%;
}
#btn1:hover{
	width: 50%;
	height:  60%;
	background-color: rgb(70, 190, 100);
	color: white;
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 0px solid white;
	position: relative;
	left: 25%;
}
#btn2{
	width: 50%;
	height:  60%;
	background-color: white;
	color: rgb(70, 190, 100);
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 2px solid rgb(70, 190, 100);
	position: relative;
	left: 25%;
}
#btn2:hover{
	width: 50%;
	height:  60%;
	background-color: rgb(70, 190, 100);
	color: white;
	font-family: Montserrat SemiBold;
	font-size: 85%;
	border-radius: 80px;
	border: 0px solid white;
	position: relative;
	left: 25%;
}
#note{
	font-family: Montserrat SemiBold;
	font-size: 2vh;
	color: white;
	text-align: center;
	margin-top: 27%;
}

#prod_link{
	font-family: Montserrat SemiBold;
	font-size: 5vh;
	color: white;
	position:  relative;
	top: 25%;
}
#prod_link:hover{
	font-family: Montserrat SemiBold;
	font-size:5vh;
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


@media only screen and (max-width: 769px) {
	#choosef{
		left: 5%;
		width: 90%;
	}

}
@media only screen and (max-width: 469px) {
	#prod_link{
		font-size:3.5vh;
	}
}

@media only screen and (max-width: 869px) {
	#pf, #pdf, #lpf{
		width:  45vw !important;
		margin-left: 27.5vw !important;
	}
}

@media only screen and (max-width: 549px) {
	#pf, #pdf, #lpf{
		width:  100vw !important;
		margin-left: 0px !important;
		height:  80vh !important;
		margin-top: 10vh !important;
	}
}

@media only screen and (max-width: 380px) {
	#pf, #pdf, #lpf{
		width:  100vw !important;
		margin-left: 0px !important;
	}
}

@media only screen and (max-width: 260px) {
	#pf, #pdf, #lpf{
		height:  80vh !important;
		margin-top: 10vh !important;
	}
}

@media only screen and (max-width: 230px) {
	#pf, #pdf, #lpf{
		height:  75vh !important;
		margin-top: 12.5vh !important;
	}
}

